path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.cus-gui {
	position: absolute; right: 5px; top: 5px;
}

.cus-line-tooltip{
	position: absolute;
	border: 1px solid white;
	padding:3px;
	border-radius: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100px;
}

.cus-gantt-tooltip{
  	line-height: 1;
	position: absolute;
	border: 1px solid white;
	padding:5px;
	border-radius: 5px;
	background: rgba(0,0,0,0.75);
	color: white; white-space: nowrap;
}
.cus-gantt-tooltip .line span, .cus-gantt-tooltip .line strong{
	display: inline-block;
}
.cus-gantt-tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.75);
  content: "\25BC";
  position: absolute;
  text-align: center;
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.cus-subplot{
	margin:0px;
}