path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.cus-gui {
	position: absolute; right: 5px; top: 5px;
}

.cus-line-tooltip{
	position: absolute;
	border: 1px solid white;
	padding:2px 3px;
}

.cus-subplot{
	margin:0px;
}